# .env.example

# =====================
# App
# =====================
APP_NAME=habbit_task_tracker

# =====================
# PostgreSQL
# =====================
POSTGRES_DB=your_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# =====================
# Redis
# =====================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_BROKER_DB=1
REDIS_BROKER_DATA_DB=2